<h1>Events List </h1>
<h5>Future Events</h5>
<% @future.each do |event| %>
    <p> Event Title:  <%= link_to "#{event.name}", event_path(event)  %> name: <%= "#{event.description}" %>, Creator: <%= "#{event.creator.name}" %> </p>

<% end %>
<h5>Past Events</h5>
<% @past.each do |event| %>
    <p> Event Title:  <%= link_to "#{event.name}", event_path(event)  %> name: <%= "#{event.description}" %>, Creator: <%= "#{event.creator.name}" %> </p>

<% end %>
